html,
body {
    font-size: 18px !important;
    color: #000 !important;
}

.card-header {
    font-size: 18px;
}

thead,
th {
    color: #000 !important;
    font-size: 14px !important;
    padding-left: 5px !important;
    font-weight: bold !important;
}

tbody,
td {
    color: #000 !important;
    font-size: 13px !important;
    padding-left: 5px !important;
}

.dropdown-menu>li>a {
    color: #fff !important;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #fff !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0f1015 !important;
}

.sidebar .nav .nav-item.active>.nav-link .menu-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #d6caca;
    padding: 0.5rem 0.35rem;
    position: relative;
    font-size: 0.855rem;
    line-height: 1;
    height: auto;
    border-top: 0;
    font-weight: 700;
}

.nav-tabs {
    border-bottom: 1px solid #ddd !important;
    position: relative;
    overflow: hidden;
}

/* .nav-tabs .claim-tab{
    background-color: #eee !important;
    color: #0f1015 !important;
    border-radius: 5px !important;
} */

.nav-tabs .claim-tab {
    width: 165px;
    background-color: #eee !important;
    color: #0f1015 !important;
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: -10px;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    z-index: 3;
}

.nav-tabs .claim-tab::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #eee;
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
}

.nav-tabs .claim-tab+.claim-tab::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #eee;
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
    z-index: -1;
    box-shadow: -10px 0 0 #fff;
}

.nav-tabs .claim-tab.last-tab {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 0 5px 5px 0 !important;
    margin-right: 0;
    z-index: 1;
}

.nav-tabs .claim-tab.last-tab::before {
    display: none;
}

.nav-tabs .claim-tab+.last-tab {
    margin-left: -30px;
}

.nav-tabs .claim-tab:focus,
.nav-tabs .claim-tab:active,
.nav-tabs .claim-tab:hover {
    background-color: #ddd !important;
    border-radius: 5px !important;
    color: #000 !important;
    font-weight: 900;
    z-index: 6;
}

.nav-tabs .active {
    background-color: #ddd !important;
    border-radius: 5px !important;
    color: #000 !important;
    font-weight: 900;
}
